* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#conteitemscarrusel {
  height: 400px;
  overflow: hidden;
}

.itemcarrusel {
  height: 100%;
  position: relative;
}

.targetacarrusel {
  height: 100%;
}

.flechascarrusel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

a {
  text-decoration: none;
}

i {
  color: rgb(250, 246, 246);
}

img {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e8e8e8;
}

.menu {
  list-style: none;
  padding: 0;
  background: #092327;
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.menu li a:hover {
  background: #e8354e;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 1 / 2 / 2 / 3; }
  .div4 { grid-area: 2 / 2 / 3 / 3; }
  .div5 { grid-area: 1 / 3 / 2 / 4; }
  .div6 { grid-area: 2 / 3 / 3 / 4; }